
.html, body {
    margin: 0;
    padding: 0;
}

.main-content {
    padding: 25px;
    display: flex;
}

.table-select-card {
    width: 30%;
    min-width: 360px;
    height: 80vh;
    margin-right: 25px;

    &.full-width {
        flex: 1;
    }
}

.select-table-figure {
    width: 100%;
    margin-top: 15px;
}