
.html, body {
    margin: 0;
    padding: 0;
}

.root-content {
    padding: 25px;
}

.header-box-card {
    margin: 0 25px 25px 0;

    .flex-box {
        display: flex;
        justify-content: space-between;
    }

    .file-upload-btn {
        display: flex;
        align-items: center;

        button {
            margin: 0 10px;
        }
    }

    h2 {
        margin: 0;
    }
}

.main-content {
    display: flex;
    flex-wrap: wrap;
}

.table-select-card {
    width: 30%;
    min-width: 360px;
    height: 650px;
    margin-right: 25px;

    &.full-width {
        flex: 1;
    }
}

.generate-figure {
    margin-top: 25px;
    border-top: 1px solid #eee;
    padding-top: 25px;

    input {
        margin-top: 10px;
    }

    .generate-figure-btn {
        width: 100%;
        margin-top: 10px;
    }

    .is-landscape {
        display: flex;
        align-items: center;
        margin: 10px 0;
        padding: 5px 0;
        color: #363636;

        .max-point {
            margin-left: 20px;

            span {
                margin-right: 4px;
            }
        }
    }
}

.select-table-figure {
    width: 100%;
    margin-top: 15px;

    &.title-row-select {
        height: 500px;
    }
}

.charts-box-card {
    margin: 25px 25px 0 0;

    .figure-box {
        display: flex;
        justify-content: space-between;

        .el-tabs--border-card {
            width: 346px;
        }
    }
   
    .column-row-name {
        width: 250px;

        input {
            margin-top: 4px;
        }
    }
}

.customer-row-number {
    display: flex;
    align-items: center;

    input {
        margin: 0;
    }

    button {
        margin-left: 12px;
    }
}

.color-picker-box {
    height: 280px;
}

.curr-select-color {
    border: 1px dashed #363636;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: -223px;

    h3 {
        width: 100%;
        text-indent: 10px;
    }

    div{
        width: 50px;
        height: 50px;
        cursor: pointer;
        margin: 10px;
    }
}